body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

table {
    border-collapse: collapse;
}

td {
    width: 3em;
    height: 3em;
    text-align: center;
    cursor: pointer;
    transition: 50ms;
    border: 1px solid;
}

.unclicked {
    background-color: lightgray;
}

.flag {
    background-color: pink;
}